html{
    scroll-behavior: smooth;
  }
.mobile{
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    z-index: 2;
}
.mobilenav{
    background: #f1f1f1; 
}
.mobilenav a{
    padding: 0px 8px 0px 10px;
    font-size: 22px;
    color: #818181;
}
.mobilenav a:hover{
    text-decoration: none;
}
.mobilenav li:nth-child(3){
    margin-left: auto;
}
.mobilenav li:nth-child(2){
    margin-left:-6px;
    font-family: 'Trebuchet MS';
    font-size: 24px;
}
.mobilenav li:first-child{
    padding-left: 10px;
    font-size: 25px;
}
#linkedin a:hover{
    color:rgb(69, 154, 235);
    transition: 2s;
   }
   #github a:hover{
    color:gold;
    transition: 2s;
   }
   #whatsapp a:hover{
    color: rgb(157, 255, 0);
    transition: 2s;
   }

   .sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f1f1f1; /* Grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow: hidden;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #476888;
    font-weight: bold;
  }
  .closebtn {
    /* position: absolute; */
    top: 0;
    font-size: 30px;
    margin-left: 180px;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #f1f1f1;  */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow: hidden;
    display: block;
    border-right: solid 1px rgba(0,0,0,0.1);
  }
  #mainNav a {
    padding: 10px 3px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    margin: 0px 0px 0px -25px;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  #mainNav a:hover {
    background-color: rgba(0,0,0,0.1);
    border-left: solid 10px #132639;
    font-weight: bold;
  }
  /* scrollspy */
  #mainNav  .nav-item .nav-link.active{
    background-color: rgba(0,0,0,0.1);
    border-left: solid 10px #132639;
    font-weight: bold;
  } 
  marquee h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .resume{
      font-size: 30px;
      /* font-weight: bold; */
      margin: -40px 0px 10px 10px;    
  }
  .main{text-align: center;}

  .img img{
    width:200px;
    height: 210px;
    border-radius: 50%;
    margin-bottom: 20px; 
  }
  h2,h1{
    color: #132639;
    font-family: "arial rounded MT", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: center; 
  }
  ul li{list-style: none;}

  hr{
    width: 65%;
    background-color: #132639;
    height: 1px;
    opacity: 0.1;
    margin-bottom: 30px;
    z-index: 0;
  }

  .card{
    text-align: left;
    margin-top: 25px;
    border:none;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #818181 !important;
  }
  .card a{
    color: #054b91;
  }
 
  #social{
    list-style-type: none;
    display: inline-flex;
    padding-top: 0px;
    margin-left: -20px;
  }
  #social a{
   color: black;
   padding: 0px 20px 0px 20px;
   transition: 0.5s;
  }
  #social a:hover{
    border-left: none;
  }
  
  #home{
    min-height: 50vh;
    padding:  50px 100px 100px 100px;
  }
  .reduce{
    margin-top: 0px !important;
  }
  .referees p{
    margin-bottom: 50px;
  }
/* screen less than 678px for mobile devices */
@media screen and (max-width:678px){
.sidebar{display: none;}
#home h1, h2{font-size: 20px;}
#home{
    padding:  80px 50px 100px 50px;
  }
  footer{display: none;}
  .card{
    font-size: 17px;
    line-height: 32px;
  }
  .card ul li{
    padding:10px 0px 0px 0px;
    margin-left: -30px;
  }
  .main-content{
    text-align: left;
}
.mobilefooter{
  display: block;
  text-align: center;
  font-size: 20px;
  background: #f1f1f1;
  color: #818181;
  position: fixed;
  bottom: 0;
  width: 100%;
}
}

/* for screen greater thn 576px tablets and desktops */
@media screen and (min-width:678px){
.hide{display:none;}
.mobilenav{display: none;}
.sidenav{display: none;}
.closebtn{display: none;}
.sidebar{display: block;}
.main-content{
    margin-left: 250px;
    text-align: center;
}
.main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .mobilefooter{display: none;}
  .card ul li{
    padding:10px 0px 0px 0px;
    margin-left: -35px;
  }
  footer{
    display: block;
    text-align: center;
    font-size: 20px;
    background: #f1f1f1;
    color: #818181;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 280px 0px 0px
  }

}
